@import 'reset.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 12px;
    font-weight: 400;
}
[data-inner]{
    margin: 0 auto;
    width: 1096px;
    padding: 0 3px;
    background-color: #fff;
}
.section-title{
    text-align: center;
    padding-bottom: 36px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
}
.section-input{
    font-family: "Montserrat Alternates", sans-serif;
    padding: 10px;
    border: none;
    border-radius: 20px;
    height: 35px;
    font-size: 12px;
    color: #7E7E7E;
    background-color: #dfdfdf;
    box-shadow: 0px 2px 2px 0px #bdbdbdcb;
}
.section-btn{
    font-family: "Montserrat Alternates", sans-serif;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    height: 35px;
    color: #FFFFFF;
    background-color: #000000;
    box-shadow: 0px 2px 2px 0px #bdbdbdcb;
    cursor: pointer;
}
/*  ---- header ---- */
.header-container{
    display: flex;
    align-items: center;
    height: 80px;
}
.logo {
  display: block;
  width: 93px;
  height: 38px;
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 15px 360px 15px;
    padding-left: 81px;
}
.drop-btn{
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
}
a{
    color: #000;
}
.drop-btn span:first-child{
    font-family: "Montserrat Alternates", sans-serif;
    padding-right: 8px;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    position: absolute;
    top: calc(100% + 8px);
    left: 50%;
    transform: translateX(-50%);
    min-width: 160px;
    max-height: 0;
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 20px 20px;
    background-color: #FFFFFF;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: all .4s ease;
}
.dropdown-content a{
    display: block;
    text-align: center;
    padding: 10px 40px;
}
.dropdown-content a:hover{
    background-color: #F1F1F1;
}
.dropdown.active .dropdown-content{
    max-height: 105px;
    opacity: 1;
}
.arrow{
    display: inline-block;
    transition: transform .3s ease;
}
.dropdown.active .arrow{
    transform: rotate(180deg);
}
.header-group{
    display: flex;
    align-items: center;
    gap: 43px;
}
.theme-toggle{
    position: relative;
    width: 40px;
    height: 20px;
    border: none;
    border-radius: 12px;
    background-color: #7A7A7A;
    box-shadow: 0px 2px 2px 0px #bdbdbdcb;
    cursor: pointer;
}
.theme-toggle::before{
    content: '';
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    background-color: #FFFFFF;
    border-radius: 50%;
}
/* ---- main ---- */
.main{
    background-color: #cacaca4d;
}
.main-container{
    padding: 30px 0 42px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-title{
    font-size: 24px;
    font-weight: 500;
}
.main-line{
    margin: 36px 0;
    width: 536px;
    height: 1px;
    background-color: #000000;
}

.year-visokosniy-section{
    width: 576px;
}
.yvs-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-box{
    display: flex;
}
.input-year{
    width: 180px;
    border-radius: 20px 0 0 20px;
}
.input-btn{
    padding: 0;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 0 20px 20px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/dandruff.svg);
    background-color: #000000;
    box-shadow: 0px 2px 2px 0px #bdbdbdcb;
    cursor: pointer;
}

.computernumber{
    width: 576px;
}
.comp-num-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.number-box{
    display: flex;
    align-items: center;
}
.number-input{
    width: 180px;
    border-radius: 20px 0 0 20px;
}

.rock-paper-scissors{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.rps-buttons{
    display: flex;
    gap: 38px;
}
.rps-btn{
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 5px 10px;
}
.rps-btn:nth-child(1){
    background-image: url(../img/stone.svg);
}
.rps-btn:nth-child(2){
    background-image: url(../img/scissors.svg);
}
.rps-btn:nth-child(3){
    background-image: url(../img/paper.svg);
}
.rps-counting{
    position: absolute;
    text-align: left;
    margin: 0px 0 0 0;
    left: 390px;
    line-height: 170%;
    width: 95px;
}
.rps-result{
    padding: 36px 0;
}

.calculator-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;
}
.calculator .section-input{
    font-weight: 400;
    text-align: center;
    padding: 10px 20px;
    width: 135px;
    color: #7E7E7E;
}
.calculator .section-input:last-child{
    width: 118px;
}
.calculator-buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 58px;
    height: 60px;
    gap: 6px;
}
.choose-scientist{
    display: flex;
    flex-direction: column;
    position: relative;
}
.scientists{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    justify-content: center;
    gap: 36px 59px;
}
.cs-card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
    line-height: 120%;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
.cs-buttons{
    grid-auto-rows: min-content;
    margin-left: 55px;
    padding-top: 36px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px 36px;
}
.cs-buttons button{
    text-align: left;
}
.cs-buttons button:nth-child(odd){
    justify-self: end;
}
.cs-buttons button:nth-child(even){
    justify-self: start;
}
.cs-buttons button:last-child{
    grid-column: 1 / -1;
    justify-self: center;
}
.cs-buttons button:nth-child(8){
    height: 50px;
}
.highlight{
    background-color: green;
}
/* ---- footer ---- */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 220px;
}
.footer .logo{
    width: 165px;
    height: 70px;
}
.contacts a{
    line-height: 170%;
}
.footer-box{
    padding-bottom: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 36px; 
}
.footer input{
    width: 204px;
    padding: 10px;
}
small{
    font-size: 6px;
}