*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rps-buttons button{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    width: 60px;
    height: 60px;
    background-color: #000000;
}
.rock-btn{
    background-image: url(./img/stone.svg);
}
.scissors-btn{
    background-image: url(./img/scissors.svg);
}
.paper-btn{
    background-image: url(./img/paper.svg);
}