*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rps-buttons button{
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    border: none;
    width: 60px;
    height: 60px;
    background-color: #000000;
}
.rock-btn{
    background-image: url(./img/stone.svg);
}
.scissors-btn{
    background-image: url(./img/scissors.svg);
}
.paper-btn{
    background-image: url(./img/paper.svg);
}

   /* number sect */

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 50px;
    background: #fff;
}

.inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

input {
    border: none;
    outline: none;
    background: #d3d3d3;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 2px 2px 5px #aaa;
    text-align: center;
    width: 150px;
    font-size: 16px;
    transition: 0.2s;
}

input:focus {
    background: #e0e0e0;
    box-shadow: 2px 2px 8px #888;
}

.result {
    margin-top: 40px;
    font-size: 18px;
}
        /* number sect */


        /* computernumber sect */
                .computer-number {
                    text-align: center;
                    font-family: "Inter", sans-serif;
                    margin: 40px auto;
                }
        
                .computer-number h2 {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
        
                .number-box {
                    display: inline-flex;
                    align-items: center;
                    background: #e5e5e5;
                    border-radius: 25px;
                    overflow: hidden;
                }
        
                .number-box input {
                    border: none;
                    background: transparent;
                    padding: 10px 15px;
                    width: 150px;
                    font-size: 14px;
                    outline: none;
                }
        
                .number-box button {
                    background: black;
                    color: white;
                    border: none;
                    padding: 10px 15px;
                    cursor: pointer;
                    transition: 0.2s;
                }
        
                .number-box button:hover {
                    opacity: 0.8;
                }
        
                #message {
                    margin-top: 15px;
                    color: #1db954;
                    font-weight: 500;
                }
                                /* computernumber sect */